<!-- QUOTES -->
<div ng-show='auth.user' class='commonplace'>
  <section class='quotes'>
    <form class='new-quote'>
      <input type='text' placeholder='Add a quote...'>
    </form>
    <div id='quote' ng-repeat="quote in quotes|orderByPriority|orderBy:'-created_at'">
      <blockquote>{{quote.text}}</blockquote>
      <span class='quote-info'>
        {{getTime(quote.created_at)}} | <a href="{{quote.url}}">
          {{getDomain(quote.url)}} </a>
      </span>
    </div>
  </section>
</div>

<!-- LOGIN FORM -->
<div ng-show="loginForm">
  <form class='login-form'>
    <ul>
      <li>
        <label for='login-email'>Email Address</label>
        <input id='login-email' ng-model='loginEmail' placeholder='Email' tabindex="1" required>
      </li>
      <li>
        <label for='login-password'>Password</label>
        <input id='login-password' type='password' ng-model='loginPassword' tabindex="1" placeholder='Password' required>
      </li>
      <a href='javaScript:void(0);' class="button button-block button-rounded button-flat-primary" ng-click="login()">Login</a>
    </ul>
  </form>
</div>