<span ng-show='auth.user'>
  {{auth.user.email}} | <a href='javaScript:void(0);' ng-click="logout()">Logout</a>
  <p ng-show='loginMessage'>{{loginMessage}}</p>
</span>

<form ng-hide="auth.user" class='login-form'>
  <ul>
    <li>
      <label for='login-email'>Email Address</label>
      <input id='login-email' ng-model='loginEmail' placeholder='Email' tabindex="1" required>
    </li>
    <li>
      <label for='login-password'>Email Address</label>
      <input id='login-password' type='password' ng-model='loginPassword' tabindex="1" placeholder='Password' required>
    </li>
    <a href='javaScript:void(0);' class="button button-block button-rounded button-flat-primary" ng-click="login()">Login</a>
  </ul>
  <p ng-show='loginMessage'>{{loginMessage}}</p>
</form>

<div ng-repeat='quote in quotes'>Quote: {{quote.text}}</div>