<!DOCTYPE html>
<html ng-app='myApp'>

  <head>
    <meta charset="utf-8">
    <title>WordSpark</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link href='index.css' rel='stylesheet' type='text/css' >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <nav ng-include="'navbar.html'"></nav>
    <div id='content'>

      <div id='login' ng-controller='loginController'>

        <span ng-show='auth.user'>
          {{auth.user.email}} | <a href="#" ng-click="logout()">Logout</a>
          <p ng-show='loginMessage'>{{loginMessage}}</p>
        </span>

        <form href="#" ng-hide="auth.user">
          <input type='text' ng-model='loginEmail' placeholder='Email' required>
          <input type='password' ng-model='loginPassword' placeholder='Password' required>
          <a href="#" ng-click="login()">
            Login
          </a>
          <p ng-show='loginMessage'>{{loginMessage}}</p>
        </form>

      </div>


      <div id='quotesDiv' ng-controller='quoteController'>
        <div ng-show='auth.user' ng-include=" 'account.html' "></div>
        <div ng-hide='auth.user'> Not logged in. </div>
      </div>
      
    </div>
  </body>
</html>