<form class='login-form'>
  <ul>
    <li>
      <label for='login-email'>Email Address</label>
      <input id='login-email' ng-model='loginEmail' placeholder='Email' tabindex="1" required>
    </li>
    <li>
      <label for='login-password'>Password</label>
      <input id='login-password' type='password' ng-model='loginPassword' tabindex="1" placeholder='Password' required>
    </li>
    <a href='#' id='login' class="button button-block button-rounded button-flat-primary" >Login</a>
    <br>
    <a href='#' id='signup' class="signup button button-block button-rounded button-flat-action">Sign Up</a>
  </ul>
</form>