.intro {
    /*height: 700px;*/
    height: 100%;

    background: url(/images/journal5.jpg) no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.description {
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
    /* center horizontally */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    top: 150px;
    text-align: left;
    width: 65%;
    padding: 10px 20px 40px 40px;
    background-color: rgba(37, 37, 37, 0.29);
    border-radius: 10px;
}

#tagline {
    text-align: center;
    font-size: 36px;
}

#pitch {
    font-size: 20px;
    line-height: 1.6em;
}