/* grey: #7b8386*/
/* blue: #00ACE9*/
/* white: #f2f3f7 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /*background-color: #f2f3f7;*/

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #8FD6FF 0%, #005596 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #8FD6FF 0%, #005596 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #8FD6FF 0%, #005596 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8FD6FF), color-stop(1, #005596));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #8FD6FF 0%, #005596 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #8FD6FF 0%, #005596 100%);

}

.content {
  font-size: 16px;
  height: 100%;
  padding-top: 54px;
}

/* remove default browser link styling */
a {
    text-decoration: none;
}

/*.view-animate-container {
  position:relative;
  height:100px!important;
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}*/